<form method="post" action="{{ path('annonce_delete', {'adressemailbien': annonce.adressemailbien}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.adressemailbien) }}">
    <button class="btn">Delete</button>
</form>
