<form method="post" action="{{ path('disponibilite_delete', {'idDisp': disponibilite.idDisp}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ disponibilite.idDisp) }}">
    <button class="btn">Delete</button>
</form>
